services:
  postgres:
    image: postgres:16
    container_name: paperless-postgres
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: paperless
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: adminer
    environment:
      ADMINER_DEFAULT_SERVER: postgres
    depends_on:
      - postgres
    ports:
      - "9091:8080"

  rabbitmq:
    image: rabbitmq:4-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
      RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS: "-rabbit loopback_users []"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  minio:
    image: minio/minio:latest
    container_name: paperless-minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio12345
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  ocr-worker:
    build:
      context: .
      dockerfile: Dockerfile.ocr
    container_name: paperless-ocr-worker
    command: ["--spring.config.name=application-ocr"]
    depends_on:
      - rabbitmq
      - minio
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest

      APP_MINIO_ENDPOINT: http://minio:9000
      APP_MINIO_ACCESSKEY: minio
      APP_MINIO_SECRETKEY: minio12345
      APP_MINIO_BUCKET: documents

  genai-worker:
    build:
      context: .
      dockerfile: Dockerfile.genai
    container_name: paperless-genai-worker
    command: ["--spring.config.name=application-genai"]
    depends_on:
      - rabbitmq
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest
      APP_GENAI_KEY: ${GEMINI_API_KEY}

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: paperless-api
    depends_on:
      - postgres
      - rabbitmq
      - minio
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/paperless
      SPRING_DATASOURCE_USERNAME: paperless
      SPRING_DATASOURCE_PASSWORD: paperless

      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest

      APP_MINIO_ENDPOINT: http://minio:9000
      APP_MINIO_ACCESSKEY: minio
      APP_MINIO_SECRETKEY: minio12345
      APP_MINIO_BUCKET: documents

    ports:
      - "8080:8080"

  ui:
    image: nginx:alpine
    container_name: paperless-ui
    depends_on:
      - api
    ports:
      - "8085:80"
    volumes:
      - ./ui:/usr/share/nginx/html:ro
      - ./deploy/nginx.conf:/etc/nginx/conf.d/default.conf:ro

volumes:
  pgdata:
  rabbitmq_data:
  minio_data:
